<template name="add_event_template">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="page-header">
          <h1>
            События отключения
          </h1>
        </div>

        <div class="row clearfix">

          <div class="col-md-6 column">
            <h3>
              Список событий
            </h3>

            {{#if events.count}}
              {{#each events}}
                {{> event_template }}
              {{/each}}
            {{else}}
              <div class="row">
                <div class="col-md-6 column">
                  <p>
                    Отключений воды нет.
                  </p>
                </div>
              </div>
            {{/if}}
          </div>

          <div class="col-md-6 column">
            <h3>
              Добавление события отключения
            </h3>

            <form class="form-horizontal">
              <fieldset>

                <!-- Select Basic -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="hot-cold-water">Какая вода будет отключена</label>
                  <div class="col-md-4">
                    <select id="hot-cold-water" name="hot-cold-water" class="form-control">
                      <option value="hot">Горячая</option>
                      <option value="cold">Холодная</option>
                      <option value="hot-n-cold">Горячая и холодная</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="date-from">Дата отключения</label>
                  <div class="col-md-4">
                    <input type="datetime-local" name="date-from" id="date-from" class="form-control"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="date-till">Дата включения</label>
                  <div class="col-md-4">
                    <input type="datetime-local" name="date-till" id="date-till" class="form-control"/>
                  </div>
                </div>

                <!-- Select Multiple -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="select-addresses">Адрес(а)</label>
                  <div class="col-md-4">
                    {{#if addresses.count}}
                      <select id="select-addresses" name="select-addresses" class="form-control">
                        {{#each addresses}}
                          <option value="{{_id}}">{{address}}</option>
                        {{/each}}
                      </select>
                    {{else}}
                        <p>Зарегистрируйте свой дом на этом сайте</p>
                    {{/if}}
                  </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submitbtn"></label>
                  <div class="col-md-8">
                    <button id="submitbtn" name="submitbtn" class="btn btn-success">Подтвердить</button>
                    <button id="cancelbtn" name="cancelbtn" class="btn btn-danger">Отменить</button>
                  </div>
                </div>

              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
</template>
