<template name="login_page">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>
          Воды не будет!
        </h1>

        <p>
          Это веб-приложение создано для оповещения об отключении горячей и холодной воды.
        </p>

        <p>
          Зарегистрируйтесь на сайте и получайте оповещения. Не забудьте зарегистрировать вашего управдома.
        </p>

        <p>
          <a href="javascript:0">{{> loginButtons }}</a>
        </p>

      </div>
    </div>
  </div>
</template>
