<template name='notifications_view'>
    <div class="row clearfix">
        {{#each addresses}}
        <div class="col-md-4 column">
            <h2>
                {{ addresses.address }}
            </h2>
            {{ #each events }}
            <p>
                <div>
                    <span>- С {{event.start}} по {{event.end}} будет отключена горячая вода</span>
                </div>
            </p>
            {{ /each}}
            <p>
                <a class="btn" href="#"></a>
            </p>
        </div>
        {{/each}}
        {{#if addresses.count}}
        {{else}}
        <div class='col-md-12 col-xs-12 col-lg-12'>
            <span>Вас холодный душ не ожидает! ;)</span>
        </div>
        {{/if}}
    </div>
</template>