<template name="navbar">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span
            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <a class="navbar-brand" href="#">No water</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a id="notificationsView" href="javascript:;">Оповещения</a>
            </li>
            <li>
              <a id="settingsView" href="javascript:;">Настройки</a>
            </li>
            <li>
              <a id="houseManagerView" href="javascript:;">Управдом</a>
            </li>
            <li>
              <a id="sendNotificationsView" href="javascript:;">Отправить оповещение</a>
            </li>
            <li>
              <a href="javascript:;">{{> loginButtons }}</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>
