<template name="navbar">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">No water</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="notificationsView" href="javascript:;">Оповещения</a></li>
                <li><a id="settingsView" href="javascript:;">Настройки</a></li>
                <li><a id="houseManagerView" href="javascript:;">Управдом</a></li>
                <li><a id="addEventView" href="javascript:;">Отправить оповещение</a></li>
                <li>
                    <a href="javascript:;">{{> loginButtons }}</a>
                </li>
            </ul>
        </div>
    </nav>
</template>
