<template name='notifications_view'>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="page-header">
          <h1>
            События отключения
          </h1>
        </div>

        <div class="row clearfix">

          <div class="col-md-6 column">
            <h3>
              Список событий
            </h3>

            {{#if events.count}}
              {{#each events}}
                {{> event_template }}
              {{/each}}
            {{else}}
              <div class="row">
                <div class="col-md-6 column">
                  <p>
                    Отключений воды нет.
                  </p>
                </div>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
</template>