<template name="settings_template">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="page-header">
          <h1>
            Настройка адресов
          </h1>
        </div>
        <div class="row clearfix">
          <div class="col-md-6 column">
            <h3>
              Мои адреса
            </h3>
            {{#if userAddresses.count}}
              {{#each userAddresses}}
                {{> userAddress }}
              {{/each}}
            {{else}}
              <div class="row">
                <div class="col-md-6 column">
                  <p>
                    Нет адресов. Зарегистрируйтесь по своему адресу, чтобы получать уведомления об отключении воды.
                  </p>
                </div>
              </div>
            {{/if}}
          </div>

          <div class="col-md-6 column">
            <h3>
              Зарегистрироваться по новому адресу
            </h3>
            <form class="form-horizontal">
              <fieldset>

                <!-- Select Basic -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="selectaddress">Выберите ваш дом</label>
                  <div class="col-md-4">
                    {{> inputAutocomplete settings=addr id="addrsearch" class="form-control" placeholder="Адрес..."}}
                  </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submitbtn"></label>
                  <div class="col-md-8">
                    <button id="submitbtn" name="submitbtn" class="btn btn-success">Подтвердить</button>
                    <button id="cancelbtn" name="cancelbtn" class="btn btn-danger">Отменить</button>
                  </div>
                </div>

              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
</template>

<template name="userAddress">
  <div class="row">
    <div class="col-xs-6 column">
      <p>
        {{ address }}
      </p>
    </div>
    <div class="col-xs-6 column">
      <p>
        <button id="deleteFromAddress" class="delete btn btn-danger">Удалить адрес</button>
      </p>
    </div>
  </div>
</template>

<template name="addressOption">
    <span class="">{{address}}</span>
</template>